@if(Context.User.Identity.Name != null)
{
    <form asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link text-dark">
                @Context.User.Identity.Name
            </li>
            <li>
                <button type="submit" class="btn btn-link" class="nav-link text-dark">log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Registration"> Registration</a></li>
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Login"> LogIn</a></li>
    </ul>
}